<div class="gracias-wrapper">
  <div class="gracias-card">
    <div class="icon-circle">
      <span class="material-icons">favorite</span>
    </div>
    <h1>¡Todo listo!</h1>
    <p>Hemos recibido tus datos correctamente.</p>
    <p class="highlight">¡Estamos deseando compartir este día contigo!</p>
    
    <div class="divider"></div>
    
    <button class="btn-inicio" (click)="irAlInicio()">
      Volver al inicio
    </button>
    <button class="btn-inicio" (click)="consultarDatos()">
      Consultar mis datos
    </button>
  </div>
</div>